* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: rgb(39, 94, 212);
	color: aliceblue;
}

.container {
	width: min(90%, 1110px);
	margin: auto;
}

.heading {
	font-size: 100px;
}

.text {
	font-size: 28px;
	background-color: rgb(2, 2, 2);
	border: 4px solid #e21212;
	border-radius: 10px;
}
